

.Footer {
    display: flex;              
    align-items: center;        
    justify-content: space-evenly;                
    padding: 30px 10%;
    background-color: #8B5E3C;
}

.Bloque_Logo  {
    width: 300px;
    text-align: center;
}


.Bloque_Logo img {
    width: 70%;
    border-radius: 10%;
}

.Bloque_Info {
    text-align: center;
    line-height: 1.6;
    width: 40%;                
}   

.Bloque_Info P{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
}   

.Bloque_Redes {
    display: flex;
    flex-direction: column;
    gap: 16px 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}   

.red-social {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    flex-direction: column;
}
.icon3 {
    font-size: 40px;
}