

.Footer {
    display: flex;              
    align-items: center;        
    justify-content: space-between;                
    padding: 30px 10%;
    background-color: #8B5E3C;
    border-top: 1px solid black;
}

.Bloque_Logo  {
    width: 300px;
    text-align: center;
}


.Bloque_Logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Bloque_Info {
    text-align: center;
    line-height: 1.6;
    width: 40%;                
}   

.Bloque_Info P{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
}   

.Bloque_Redes {
    display: flex;
    flex-direction: column;
    gap: 16px 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}   

.red-social {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    flex-direction: column;
    transition:  transform 0.1s ease;
}

.red-social:hover{
    color: azure;
    transition: 1s;
}
.icon3 {
    font-size: 40px;
}