.loading-overlay {
    position: fixed;       /* CLAVE */
    inset: 0;              /* top, right, bottom, left = 0 */
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.2); /* oscurece fondo */
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 9999;         /* por encima de todo */
}

.loading-overlay p {
    margin-top: 15px;
    color: white;
    font-size: 1.2rem;
}
