.TituloFormulario1{
    background:rgba(107, 142, 35, 0.5);
    height: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: 0.1px solid black;
    color: rgb(61, 56, 56);
}

.FormularioRegistro1{
    position: absolute;   
    right: 5%;
    top: 50%;
    width: 420px;
    padding: 60px;
    transform: translateY(-50%);
    flex: 4;
    background:
        linear-gradient(#FADEAA, #ECB57D);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    z-index: 10;
    height: 50%;
    border-radius: 10px;
    border: 1px solid black;
}

.FormularioRegistro1 .BTN {
    margin-top: 10px;
    padding: 12px;
    border: 1px solid black;
    background: #6B8E23;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
    margin: 10PX;
    border-radius: 10px;
}

.FormularioRegistro1 .BTN:hover {
    background: #486116;
    transform: translateY(-1px);
}
